.tasks_content{
    display: flex;
    flex-direction: column;
    margin: 100px 0;
}
.course_work{
    font-weight: 700;
    font-size: 30px;
    color: #C19FC2;
    margin: 30px 0 20px;
    transition: all .4s;
}

.course_work:hover{
    color: #3C8C7F;
}

.php_test{
    margin-top: 60px;
}

.task_title{
    font-weight: 700;
    font-size: 35px;
    color: #C19FC2;
    margin: 30px 0;
}

.task2{
    margin-bottom: 20px;
}

.footer{
    margin-top: auto;
}

@media (max-width: 950px) {
    .task_title{
        font-size: 30px;
    }
}

@media (max-width: 750px){
    .task_title{
        font-size: 25px;
        margin: 20px 0;
    }
}

@media (max-width: 500px){
    .header{
        padding: 10px 0px;
    }
    .tasks_content{
        margin: 60px 0;
    }
    .task_title{
        font-size: 20px;
        margin: 15px 0;
    }
}
