.canvas{
    width: 200px;
    height: 200px;
    background: linear-gradient(to right, #F3F2DC, #BED8EF);
    overflow: hidden;
}
.sun{
    width: 40px;
    height: 40px;
    border-radius: 0 40% 50% 40%;
    background-color: #FBF79C;
    position:relative;
    top: -5px;
    left: -5px;
}
.flag{
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid red;
    border-bottom: 5px solid transparent;
    position: relative;
    top: 2px;
    left: 90px;
    z-index: 11;
}
.mast{
    width: 5px;
    height: 80px;
    background-color: #845520;
    margin-left: 90px;
    position: relative;
    z-index: 10;
}
/*.mast::after{
    content: "";
    width: 0;
    height: 0;
    position: relative;
    top: 26px;
    right: -5px;
    border-top: 27px solid transparent;
    border-left: 54px solid #88E9F2;
    border-bottom: 27px solid transparent;
}*/
.parys{
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-left: 37px solid #88E9F2;
    border-bottom: 40px solid transparent;
    position: relative;
    top: -80px;
    left: 95px;
    z-index: 10;
}
.yacht{
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    border-top: 40px solid #845520;
    border-left: 25px solid transparent;
    border-right: 15px solid transparent;
    position: relative;
    top: -81px;
    z-index: 10;
}
.arka {
    position: relative;
    top: -206px;
    border: 6px solid #9A9B9E;
    border-bottom: transparent;
    width: 67px;
    height: 120px;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
}
.arka::before {
    content: "";
    display: block;
    position: relative;
    top: -6px;
    left: 61px;
    border: 6px solid #9A9B9E;
    border-bottom: transparent;
    width: 67px;
    height: 115px;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    z-index: 5;
}
.arka::after {
    content: "";
    display: block;
    position: relative;
    top: -121px;
    left: 128px;
    border: 6px solid #9A9B9E;
    border-bottom: transparent;
    width: 67px;
    height: 115px;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    z-index: 5;
}
.bubble {
    z-index: 12;
    position: relative;
    top: -224px;
    left: -13px;
    background: linear-gradient(to right, #BED8EF, #77A5F4);
    width: 80px;
    height: 70px;
    border-radius: 50%;
}
.bubble::before {
    display: block;
    content: "";
    position: relative;
    top: -10px;
    left: 47px;
    background: linear-gradient(to right, #BED8EF, #77A5F4);
    width: 80px;
    height: 70px;
    border-radius: 50%;
}
.bubble::after {
    display: block;
    content: "";
    position: relative;
    top: -68px;
    left: 97px;
    background: linear-gradient(to right, #BED8EF, #77A5F4);
    width: 80px;
    height: 70px;
    border-radius: 50%;
}
.bubble-end{
    z-index: 12;
    position: relative;
    top: -301px;
    left: 146px;
    background: linear-gradient(to right, #BED8EF, #77A5F4);
    width: 80px;
    height: 70px;
    border-radius: 50%;
}