#logo{
    transition: .3s ease;
    border: 2px solid black;
}

.letter_style{
    font-size: 190px;
    fill: #F5EEE4;
    font-family: Palatino, URW Palladio L, serif;
    stroke: #000;
    stroke-width: 1.5px;
}

@keyframes scale{
	0% {scale: 1;}
  25%  {scale: 1.1;}
  50%  {scale: 1;}
  75%  {scale: 1.1;}
  100% {scale: 1;}
}

#logo:active{
   background-image: url('/Сайт/images/task2/27943604_6697603.svg');
   background-size: cover;
   background-position: top; 
   animation: scale 2s infinite 1.5s;
}

#lastname, #firstname{
    display: none;
    font-size: 30px;
    fill: #D7ACA5;
    font-family: Palatino, URW Palladio L, serif;
    stroke: #000;
    stroke-width: .5px;
}

#logo:active #lastname, #logo:active #firstname{
    display: inline;
}

#logo:hover{
    cursor: pointer;
    scale: .9;
}

@keyframes fill{
    0%{
        fill: #F5EEE4;
    }
    50%{
        fill: #D7ACA5;
    }
    100%{
        fill: #F5EEE4;
    }
}

@keyframes moving{
    to{
        offset-distance: 100%;
    }
}

#o_letter, #a_letter{
    font-size: 190px;
    transition: .3s ease;
    animation: fill 5s infinite;
}

#logo:hover #o_letter{
    font-size: 100px;
    offset-path: path('M3.59653 74.3536C-6.51343 48.2501 10.1246 17.3303 40.9804 5.37975C71.8362 -6.57078 104.96 5.07599 115.07 31.1795C125.18 57.283 108.542 88.2028 77.6865 100.153C46.8307 112.104 13.7065 100.457 3.59653 74.3536Z');
    animation: moving 2s ease-out infinite;
}

#logo:hover #a_letter{
    font-size: 100px;
    offset-path: path('M3.59653 74.3536C-6.51343 48.2501 10.1246 17.3303 40.9804 5.37975C71.8362 -6.57078 104.96 5.07599 115.07 31.1795C125.18 57.283 108.542 88.2028 77.6865 100.153C46.8307 112.104 13.7065 100.457 3.59653 74.3536Z');
    animation: moving 2s ease-out infinite;
}

#logo:active #o_letter{
    animation: unset;
    font-size: 40px;
    stroke-width: .5px;
    fill: #D7ACA5;
    transform: translate(71px, 44px);
    rotate: 110deg;
}

#logo:active #a_letter{
    animation: unset;
    font-size: 40px;
    stroke-width: .5px;
    fill: #D7ACA5;
    transform: translate(115px, 39px);
    rotate: 111deg;
}

