button,select {text-transform: none;}
button{cursor: pointer; color: inherit; background-color: inherit;}
button::-moz-focus-inner{padding: 0;border: 0;}

.hidden {
  display: none !important;
}

:root{
  --green:#3C8C7F;
  --l_green:rgb(201, 242, 212);
  --pink:#C19FC2;
  --l_pink:#d9b7dab2;
  --white:#fff;
}


/* Предупреждение */
.warning{
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  padding: 30px;
  background-color: var(--white);
  border-radius: 10px;
  border: 1px solid var(--green);
}


.test {
  display: flex;
  flex-direction: column;
  max-width: 770px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--white);
  border: 1px solid var(--green);
}

.test_header{
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
}

.test_progress {
  height: 10px;
  border-radius: 30px;
  background-color: rgb(232, 232, 232);
}

.test_progress_inner {
  height: 100%;
  border-radius: 30px;
  width: 70%;
  background: var(--pink);
  transition: all 0.3s ease-in-out;
  background: linear-gradient(90deg, var(--pink) 0%, var(--green) 100%);
}

.test_content{
  padding: 30px 30px 20px;
  flex: 1 0 auto;
}

.test_title{
  font-size: 20px;
  font-weight: 600;
}

.test_list{
  display: flex;
  column-gap: 15px;
  justify-content: space-around;
  padding: 20px 0px;
  transition: all 0.8s ease;
}

.test_list.selected{
  flex-direction: column;
  row-gap: 15px;
}

.test_answer {
  background: var(--l_pink);
  border: 1px solid var(--pink);
  border-radius: 5px;
  padding: 8px 15px;
  min-height: 44px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.test_answer:hover{
  color: var(--white);
  background: var(--pink);
}

.test_answer.correct{
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
}

.test_answer.incorrect{
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}

.test_answer.disabled{
  pointer-events: none;
}

.test_footer{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
}

.test_total{
  display: flex;
  align-items: center;
}

.btn_test_next{
  height: 40px;
  padding: 0 13px;
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
  border-radius: 5px;
  background: var(--green);
  border: 1px solid var(--green);
  transition: .2s ease-in;
}

.btn_test_next:hover{
  scale: 1.1;
}

/* Выводим результаты теста */
.result{
  max-width: 450px;
  width: 100%;
  background-color: var(--white);
  border-radius: 10px;
  border:1px solid var(--green);
  padding: 20px 10px;
}

.result_title{
  font-size: 22px;
  font-weight: 550;
  text-align: center;
}

.result_text{
  margin: 15px 0;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.result_list{
  display: flex;
  row-gap: 15px;
  flex-direction: column;
  padding: 20px 0px;
  transition: all 0.8s ease;
}

.result_title_answer{
  background: var(--l_pink);
  border: 1px solid var(--pink);
  border-radius: 5px;
  padding: 8px 15px;
  min-height: 44px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .4s ease;
}

.result_title_answer:hover{
  box-shadow: 0 0 15px #d9ccd6;
}

.result_title_answer.disabled{
  pointer-events: none;
}

.right_ans{
  background: var(--l_green);
  /* border: 1px solid var(--green); */
  border-radius: 5px;
  padding: 8px 15px;
  min-height: 44px;
  font-size: 17px;
  display: flex;
  align-items: center;
  width: fit-content;
}


.result_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result_restart{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid var(--green);
  color: var(--green);
  background: var(--white);
  transition: all .2s ease-in;
}

.result_restart:hover{
  color: var(--white);
  background: var(--green);
}