:root{
    --green:#3C8C7F;
    --l_green:rgb(201, 242, 212);
    --pink:#C19FC2;
    --l_pink:#d9b7dab2;
    --white:#fff;
}
.title_form{
    margin: 30px auto;
    font-weight: 700;
    font-size: 35px;
    color: var(--pink);
}
form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 20px;
}
.block{
    display: flex;
    justify-content: space-between;
}
.header_set{
    margin-bottom: 15px;
}
.set{
    display: flex;
    flex-direction: column;
}
.field{
    border: 1px solid var(--green);
    border-radius: 5px;
    width: 250px;
    height: 30px;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 5px 10px;
}
.amount{
    width: 100px;
    margin-bottom: 12px;
}
.one_of_set{
    margin-bottom: 18px;
}
input[type="radio"]:hover, input[type="checkbox"]:hover{
    cursor: pointer;
}
.btn_file{
    margin-bottom: 15px;
    color: var(--green);
    padding: 6px 8px;
    font-size: 16px;
    transition: all 0.2s ease;
    cursor: pointer;
}
.btn_submit{
    width: 50%;
    height: 40px;
    background: var(--l_pink);
    border: 1px solid var(--pink);
    border-radius: 5px;
    padding: 8px 15px;
    min-height: 44px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 auto;
}
.btn_submit:hover{
    color: var(--white);
    background: var(--pink);
}