.user_rating{
    margin-top: 10px;
}

.place{
    color: var(--dark_violet);
}

.all_rating{
    padding-top: 0 !important;
}

.arrow{
    cursor: pointer;
    position: relative;
    top: 30px;
    left: -280px;
    transition: all .3s;
}

.arrow:hover{
    scale: .9;
}
